@model IEnumerable<CHBHDT63131330.Models.LoaiHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenLoai", rowsPerPage: 5);
}

<h2>Loại hàng</h2>

<p>
    @Html.ActionLink("Tạo loại hàng", "Create")
</p>

<div class="grid-container">
    @grid.GetHtml(
        tableStyle: "table table-bordered",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style",
        columns: grid.Columns(
            grid.Column("TenLoai", header: "Tên Loại", style: ""),
            grid.Column(header: "", format: @<text>
                    <button class="btn btn-success">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaLoai }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Xem", "Details", new { id = item.MaLoai }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-danger">
                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaLoai }, new { @style = "color:white;" })
                    </button>
            </text>)
 )
)
</div>
<style>
    .unclickable-header {
        pointer-events: none;
        cursor: default;
    }
    .webgrid-footer a {
        display: inline-block;
        padding: 6px 12px;
        margin: 2px;
        font-size: 16px;
        line-height: 1.5;
        background-color: #007bff;
        border: 1px solid #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
    }

    .webgrid-footer .webgrid-page {
        margin: 2px;
    }

    .webgrid-footer a:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .webgrid-footer .webgrid-selected-page {
        background-color: #0056b3;
        border-color: #0056b3;
        color: #fff;
    }
</style>
